# Dependencies
node_modules/

# Angular build outputs
dist/
build/
.angular/

# Cache
.cache/
coverage/

# Logs
*.log

# Env files
.env

# OS files
.DS_Store

# Angular / TS artifacts
*.tsbuildinfo
*.map

# IDE
.vscode/
.idea/